body {
    display: flex;
    background-color: #302140;
    color:rgb(238, 228, 228);
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    min-height: 100vh;
}

main {
}

.form {
   
}

.form__item {
  display: block;
  align-items: center;
  margin: 0 0 16px 0;
  width: 100%;
}



fieldset {
    width: 900px;
}

.testowy {
  color: red;
  font-weight:bold;
  font-size:16px;
}